

/* self  */
.self{
    /* background: url(/images\ and\ logos/aboutmebg.svg); */
    backdrop-filter: opacity(10%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:local;    
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 98%;
    background-color: rgb(15, 15, 15);
    border-radius: 2rem;
    padding: 20px;
}
.pitcher{
    background: url(/images\ and\ logos/zahid.png);
    background-position-y:-20px;
    background-position-x:-20px;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    background-color: #ffffff;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border-top-left-radius: 10%;
    align-self: baseline;
    margin-left: 10px;
    margin-top: 10px;
    /* position: relative;
    top: 20px;
    left: 20px; */
    animation: hovver 1s .1s running ease-in;
    transform-origin: top left;
}
.pitcher::before{
    content: "";
    z-index: -1;
    position: relative;
    background-color: #5f5e5e8a;
    border: rgba(253, 253, 253, 0.178) 1px solid;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border-top-left-radius: 10%;
    scale: 1.1;
    box-shadow: 4px 4px 20px 10px rgb(0, 0, 0);
}
.about-self{
    display: flex;
    background: linear-gradient(-40deg , #ff4646fd , #b6b5b5);
    height: auto;
    width: 90%;
    border-radius: 4rem;
    border-top-left-radius: 10px;
    align-self: baseline;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 4px 4px 20px 10px rgb(0, 0, 0);
    /* position: relative;
    top: 13px;
    left: 52px; */
    animation: hovver 2s .1s running ease-in;
    transform-origin: top left;
}
@keyframes hovver {
    0%{
        scale: 0;
        /* opacity: 0; */
        position: relative;
        left: -600px;
    }
}
.about-self:hover{
    background: linear-gradient(-40deg  , #b6b5b5 , #ff4646fd);

}
.about-self h3{
    text-align: center;
}
.about-self h3 a{
    color: rgb(15, 51, 59);
    text-decoration: none;
}
.about-self2{
    display: flex;
    justify-content: center;
    background: linear-gradient(-30deg , #00557c , #ffffff);
    height: auto;
    width:80%;
    border-radius: 4rem;
    border-top-right-radius: 10px;
    align-self: flex-end;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 4px 4px 20px 10px rgb(0, 0, 0);
    animation:  hovver 3s .1s running ease-in;
    transform-origin: top right;

    /* position: relative;
    top: 370px;
    left: 0px; */
}

.about-self2 h3{
    text-align: center;
}

#about-self3{
    animation: hovver 3.5s .1s running ease-in;
}


/* skills  */
.skills2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    width: 98%;
    color: white;
    border-radius: 1rem;
    margin: 10px;
    background-color: #002c41;
}
.skills2 .projectname {
    background-color: #001620;
}
.skills2::before{
    content: "";
    height: 500px;
    width: 98%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    position: absolute;
}
.skillbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 98%;
}
.markingskill{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 90px;
}
.skillbox input {
    width: 40%;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 2px; /* Specified height */
    border-radius: 5px;
    background: #005b80; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.skillbox input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-radius: 3px;
    background: #00cfbe;
    cursor: pointer;
  }


@media screen and (max-width: 680px){
    /* skill */
    .skillbox input {
        width: 70%;
    }
}