@media screen and (max-width: 680px) {
    header {
        height: 6rem;
        display: flex;
    }
    .headerheight{
        height: 20rem;
        background-color: rgba(0, 0, 0, 0.76);
        background: linear-gradient(90deg,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9), rgba(253, 253, 253, 0));
        border-bottom-right-radius: 10rem;
    }
    #logobg {
        height: 4rem;
        margin: 1rem;
    }
    .bgcloud{
        opacity: 1;
        display: none;
    }
    .cloud {
        width: 20vw;
    }
    #cloud2 {
        right: 5vw;
    }
    nav {
        display: none;
    }
    nav ul {
        flex-direction: column;
    }
    .navvisible{
        display: flex;
        margin: 50px;
    }

    .burger {
        position: absolute;
        top: 32px;
        right: 23px;
    }
    .line {
        width: 33px;
        background-color: rgb(255, 255, 255);
        height: 2px;
        margin: 6px;
        border-radius: 50px;
    }
     /* Adding transform to the X */
    .burger.close {
        transform: rotate(180deg);
    }

    /* Styling the three lines to make it an X */
    .burger.close .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        background-color: red;
        box-shadow: 0px 0px 10px 10px black;


    }

    .burger.close .line:nth-child(2) {
        opacity: 0;
    }

    .burger.close .line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
        background-color: red;
        box-shadow: 0px 0px 20px 4px black;


    }

    /* intro  */
    .intro-main {
        height: 600px;
    }
    .intro-main h2{
        top: 420px;
        left: 10px;
    }

    /* skill */
    .skillbox input {
        width: 70%;
    }

    /* projects */
    .projectslide{
        grid-template-columns: 1fr 1fr;
    }

    /* footer  */
    footer {
        height: 500px;
    }

    footer .credit1 {
        font-size: .6rem;
    }

    .footericon {
        flex-direction: row;
    }
    .iconspan {
        display: none;
    }
    .icon img {
        height: 35px;
        margin: .2rem 10px;
    }
}